* {
  margin: 0px;
}

.header-div {
  display: flex;
  justify-content: space-between;
}

.header-inner-div {
  display: flex;
  align-items: end;
  margin-right: 3em;
  flex-wrap: wrap;
}

hr {
  margin: 1em 2em;
}

h1 {
  padding: 1em 0em 0em 2em;
}

.header-btn {
  margin: 0.5em 0.5em;
  height: 2em;
}

.header-a {
  margin-right: 0.5em;
  text-decoration: none;
  height: 1.7em;
}

/* 
  Add Product Styling
*/

.add-page-main {
  display: flex;
  flex-direction: column;
  margin: 2em;
}

.name-input {
  margin: 1em;
  display: flex;
}

.input-labels {
  width: 3em;
}

.save-btn {
  width: 130px;
  height: 2em;
}

.type-switcher-input {
  margin-left: 1em;
}

.card {
  padding: 1em;
}
